
:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: #ffffff; 
  color: #2d2d3a;
  min-width: 320px;
}

a { color: inherit; text-decoration: none; }
h1, h2, h3, h4 { margin: 0; }


